@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: 400%; 
    background-repeat: no-repeat;
    color: white;
}


body.classic {
    background-image: linear-gradient(120deg, rgb(65, 59, 59), rgb(71, 71, 242), rgb(237, 82, 159));
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
header {
    margin: 3vh 0 5vh 0;
    display: flex;
    flex-direction: column;
  
}

header h1 {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 20px 20px 20px;
}

.header__menu-item {
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(237, 231, 231);
    transition: background-color .3s ease;
}

@media (min-width:440px) {

    .header__menu {
        justify-content: flex-start;
    }
    .header__menu-item {
        width: 40px;
        height: 40px;
    }
}


.header__menu-item.active {
    border: 1px solid rgb(109, 104, 104);
}
.item-winter.active {
    background-color: #77cef7;
}
.item-spring.active {
    background-color: #95f3a5;
}
.item-summer.active {
    background-color: #f80a66;
}
.item-autumn.active {
    background-color: #e47616;
}

.winter  {
    background-size: 200%; 
    background-image:url('https://dashinin.github.io/Basic-Todo-list/img/snowflake.png'), url('https://dashinin.github.io/Basic-Todo-list/img/snowflake3.png'), 
    url('https://dashinin.github.io/Basic-Todo-list/img/snowflake2.png'), linear-gradient(15deg, rgb(64, 112, 201), 70%, rgb(4, 18, 44));
    animation: snow  20s linear infinite;
}

@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px, 0px 0px;}
   } 

.spring {
    background-image: linear-gradient(#8ee4a4 0%, #9fe6a5 40%, #ebb184 60%, #f57297 70%, #ca65ca 80%, #5863c9 100%);
    
}


.summer {
    background-image: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
    animation: bg-animation 5s infinite alternate;
}
.autumn {
    background-image: linear-gradient(90deg, #f2ac21,#e3ed30,#e1562c);
    animation: bg-animation 10s infinite alternate;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
  
}
@media (min-width:440px) {
    header h1{
        font-size: 2.5rem;
    }
}


@media (min-width:740px) {
    header h1{
        font-size: 4em;
    }
   
}
input {
    border: none;
    padding: 5px 0;
}
.todo-input {
    flex-grow: 1;
}

.todo-button {
    padding: 5px;
    color: black;
    border: none;
}

.inputs {
    display: flex;
}

.todo-window {
    display: flex;
    flex-direction: column;
}

.fitlers__row {
    display: flex;
    flex-direction: column;
}


form button {
    color: blueviolet;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: rgb(54, 6, 99);
    color: rgb(255, 255, 255);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 80%;
    max-width: 600px;
    list-style: none;
}


.todo {
    margin: 0.3rem;
    background: white;
    color: rgb(90, 89, 89);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: rgb(225, 60, 60);
    color: white;
    border: none;
    padding: .5rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(105, 226, 81);
}

.todo-item {
    padding: 0rem 0.5rem;
}

@media (min-width:500px) {
    .todo {
        font-size: 1.5rem;
    }
    .trash-btn, .complete-btn {
        padding: 1rem;
    }
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateX(20rem) rotateZ(0deg);
    opacity: 0;
}

select {
    appearance: none;
    outline: none;
    border: none;
    color: rgb(97, 96, 96);
    cursor: pointer;
    height: 50px;
    width: 100%;
    background-color: white;
}

.select {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(54, 6, 99);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: 0.3s ease;
}

.select:hover::after {
    background: rgb(221, 217, 217);
    color:  blueviolet;
}

